[build-system]
# setuptools v42.0.0 was first version to allow multiple license files
# (the license_files metadata field in setup.cfg). Also covers pep-517
# and pep-518 since support was added to setuptools in v40.8.0.
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[tool.isort]
skip = "pybaselines/__init__.py"
skip_glob = ["docs/*"]
force_sort_within_sections = true
line_length = 100
lines_after_imports = 2
multi_line_output = 5
src_paths = ["pybaselines", "tests"]
# example_helpers are locally used in doc examples
known_local_folder = ["example_helpers"]
