-r requirements.txt

sphinx==4.3.1
sphinx-rtd-theme==1.0.0
# pin docutils to v0.17.1 since v0.18 not yet compatible with Sphinx
docutils==0.17.1
sphinx-autoapi==1.8.4
sphinx-gallery==0.10.1
matplotlib==3.3.3
pentapy==1.1.2
numba==0.54.1
