-r requirements.txt
-r requirements-documentation.txt

# for linting
flake8==6.0.0
flake8-comprehensions==3.7.0
flake8-docstrings==1.6.0

# for testing
pytest==6.2.5

# for creating releases
bump2version==1.0.1
twine==3.6.0
wheel==0.37.0
