# For testing the nightly builds of numpy and scipy so that any new changes will not be
# a surprise.

# Will only trigger if there is a change within pybaselines or tests directories.

name: test-latest-dependencies

on:
  # allow manually activating the workflow
  workflow_dispatch:

  push:
    branches: [ main ]
    paths:
    - 'pybaselines/**'
    - 'tests/**'
    - '.github/workflows/**'

  pull_request:
    # always trigger on a pull request, regardless of the branch
    paths:
    - 'pybaselines/**'
    - 'tests/**'
    - '.github/workflows/**'

# cancel current jobs if a new job is started
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-nightly:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Choose the latest stable python version
        python-version: ['3.13']

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install required dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        python -m pip install -i https://pypi.anaconda.org/scientific-python-nightly-wheels/simple numpy
        python -m pip install -i https://pypi.anaconda.org/scientific-python-nightly-wheels/simple scipy
        python -m pip install .

    - name: Test with required dependencies
      # use -Werror so that any warnings will show up as errors -> want to be as stringent
      # as possible
      run: python -Werror -m pytest .
